POSTGRES_DB=team3m
POSTGRES_USER=team3m
POSTGRES_PASSWORD=change-me-local
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Keycloak
KEYCLOAK_PORT=8081
KEYCLOAK_MGMT_PORT=9000
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_AUDIENCE=kontor-api
