resource_group_name = "Kontor"
name_prefix         = "kontor"
dns_label           = "kontor"
location            = "swedencentral"
computer_name       = "kontor-vm"
admin_username      = "azureuser"

# Use the public key you want Azure to install on the VM.
admin_ssh_public_key_path = "~/.ssh/team-3m-azure-rsa.pub"

# Standard_B2s is a small practical starting point for Docker Compose with Postgres, Spring Boot, and nginx.
# The current Azure for Students subscription rejected this SKU in Germany West Central during testing.
vm_size = "Standard_D2s_v3"
